<!DOCTYPE html>
<html th:fragment="layout(main)" lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Registration</title>
<link rel="stylesheet"
	href="../../static/bootstrap-5.0.2/css/bootstrap.min.css"
	th:href="@{bootstrap-5.0.2/css/bootstrap.min.css}">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<link th:href="@{test.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
	integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>
	<div th:replace="fragments/navbar.html :: navbar"></div>
	<div class="col" th:replace="fragments/sidebar.html :: sidenav"></div>
	<div class="row">

		<div class="col" th:replace="${main}"></div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js">
</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>

	<!-- for data table -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	 -->
	<script
		src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }


    /* for data table */
    $(document).ready(function () {

        $('#userTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {url: "serverSideProcessingForUser"},
            "lengthMenu": [5, 10, 25],
            "columns": [
                {"data": "userId"},
                {"data": "username"},
                {
                    "data": "button",
                    "render": function (data, type, row) {
                        var userUpdateURL = "/userUpdate?userId=" + row.userId;
                        var userDeleteURL = "/deleteUser?userId=" + row.userId;

                        return '<a href="' + userUpdateURL + '" class="btn btn-success me-3" type="button">Update</a>' +
                            '<button data-bs-toggle="modal" data-bs-target="#confirmationModal' + row.userId + '" type="button" class="btn btn-danger">Delete</button>' +
                            '<div class="modal fade" id="confirmationModal' + row.userId + '" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">' +
                            '<div class="modal-dialog modal-dialog-centered">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<h5 class="modal-title text-dark" id="exampleModalLabel">Confirmation</h5>' +
                            '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            '<h5 class="text-danger">Are you sure to delete (' + row.username + ')?</h5>' +
                            '</div>' +
                            '<div class="modal-footer">' +
                            '<a href="' + userDeleteURL + '" class="btn btn-danger" type="button">Yes</a>' +
                            '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';

                    }
                }
            ]

        });

        $('#studentTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {url: "serverSideProcessingForStudent"},
            "lengthMenu": [5, 10, 25],
            "columns": [
                {"data": "studentId"},
                {"data": "name"},
                {
                    "render": function (data, type, row) {
                        var courseNames = '';
                        for (var i = 0; i < row.courses.length; i++) {
                            courseNames += '<span style="margin-right: 10px;">' + row.courses[i].name + '</span>';
                        }
                        return courseNames;
                    }
                },
                {
                    "render": function (data, type, row) {
                        var studentSeeMoreLink = "/seeMore?studentId=" + row.studentId;
                        var studentDeleteLink = "/deleteStudent?studentId=" + row.studentId;

                        return '<a href="' + studentSeeMoreLink + '" class="btn btn btn-secondary me-3" type="button">See More</a>' +
                            '<button data-bs-toggle="modal" data-bs-target="#confirmationModal' + row.studentId + '" type="button" class="btn btn-danger">Delete</button>' +
                            '<div class="modal fade" id="confirmationModal' + row.studentId + '" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">' +
                            '<div class="modal-dialog modal-dialog-centered">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<h5 class="modal-title text-dark" id="exampleModalLabel">Confirmation</h5>' +
                            '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            '<h5 class="text-danger">Are you sure to delete (' + row.name + ')?</h5>' +
                            '</div>' +
                            '<div class="modal-footer">' +
                            '<a href="' + studentDeleteLink + '" class="btn btn-danger" type="button">Yes</a>' +
                            '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';

                    }
                }
            ]
        })

        /* $('#studentTable').DataTable({
            "columnDefs": [
                {"searchable": false, "targets": 3}
            ]
        }); */


        /* select 2 */

        $('#userRole').select2({
            placeholder: 'Select roles'
        });
    });

    function checkPasswordStrength() {
        
        var password = document.getElementById("password").value;
        var passwordStrengthLabel = document.getElementById("passwordStrengthLabel");
        var confirmPassword = document.getElementById("confirmPassword").value;
        var matchLabel = document.getElementById("matchLabel");
        passwordStrengthLabel.textContent = "";

        if (password.length === 0) {
            passwordStrengthLabel.textContent = "";
        } else if (password.length < 6) {
            passwordStrengthLabel.textContent = "Not enough! Password length should be between 6 and 9";
            passwordStrengthLabel.style.color = "red";
        } else if (password.length > 9) {
            passwordStrengthLabel.textContent = "Too much! Password length should be between 6 and 9";
            passwordStrengthLabel.style.color = "red";
        } else if (/^[a-zA-Z]+$/.test(password) || /^\d+$/.test(password)) {
            passwordStrengthLabel.textContent = "Weak!";
            passwordStrengthLabel.style.color = "red";
        } else if (/\d/.test(password) && /[a-z]/.test(password) && /[A-Z]/.test(password) && /[!@#$%^&* .]/.test(password)) {
            passwordStrengthLabel.textContent = "Strong";
            passwordStrengthLabel.style.color = "green";
        } else {
            passwordStrengthLabel.textContent = "Medium";
            passwordStrengthLabel.style.color = "orange";
        }
        if (confirmPassword.length > 0 && password !== confirmPassword) {
            matchLabel.innerHTML = "Passwords do not match";
            matchLabel.style.color = "red";
        } else {
            matchLabel.innerHTML = "";
        }
    }

    function validateForm(event) {
        
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var passwordStrengthLabel = document.getElementById("passwordStrengthLabel");

		  if (password.length < 6 || password.length > 9 || passwordStrengthLabel.textContent !== "Strong" || password !== confirmPassword) {
			  event.preventDefault();
             } 
    }

    function toggleOldPasswordVisibility() {
        var passwordInput = document.getElementById("oldPassword");
        var passwordToggleIcon = document.getElementById("oldPasswordToggleIcon");

        if (passwordInput.type === "password") {
            
            passwordInput.type = "text";
            passwordToggleIcon.classList.remove("fa-eye-slash");
            passwordToggleIcon.classList.add("fa-eye");
            
        } else {
            
            passwordInput.type = "password";
            passwordToggleIcon.classList.remove("fa-eye");
            passwordToggleIcon.classList.add("fa-eye-slash");
            
        }
    }

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var passwordToggleIcon = document.getElementById("passwordToggleIcon");

        if (passwordInput.type === "password") {
            
            passwordInput.type = "text";
            passwordToggleIcon.classList.remove("fa-eye-slash");
            passwordToggleIcon.classList.add("fa-eye");
            
        } else {
            
            passwordInput.type = "password";
            passwordToggleIcon.classList.remove("fa-eye");
            passwordToggleIcon.classList.add("fa-eye-slash");
            
        }
    }

    function toggleConfirmPasswordVisibility() {
        var confirmPasswordInput = document.getElementById("confirmPassword");
        var confirmPasswordToggleIcon = document.getElementById("confirmPasswordToggleIcon");

        if (confirmPasswordInput.type === "password") {
            
            confirmPasswordInput.type = "text";
            confirmPasswordToggleIcon.classList.remove("fa-eye-slash");
            confirmPasswordToggleIcon.classList.add("fa-eye");
            
        } else {
            
            confirmPasswordInput.type = "password";
            confirmPasswordToggleIcon.classList.remove("fa-eye");
            confirmPasswordToggleIcon.classList.add("fa-eye-slash");
            
        }
    }

    var form = document.getElementById("userForm");
    form.addEventListener("submit", validateForm);

	function checkPhotoExtension(){
		
		var file = document.getElementById("photo").value;
		var extension = file.split('.').pop();
		
		var extensionLabel = document.getElementById("extensionLabel");
		var submitButton = document.getElementById("submitButton");

		var size = document.getElementById('photo').files[0].size/1000;
		
		if(!(extension === "jpg" | extension === "jpeg" |  extension ==="png")){

			extensionLabel.textContent = "Please use one of jpg, jpeg, png!";
			extensionLabel.style.color = "red";
			submitButton.disabled = true;
			
			}else if(size > 10000){
				
				extensionLabel.textContent = "Photo is larger than 10MB!";
				extensionLabel.style.color = "red";
				submitButton.disabled = true;
				
				}else{

				extensionLabel.textContent = "";
				submitButton.disabled = false;
				
				}
		}

</script>
</body>
</html>