<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<nav th:fragment="navbar" class="navbar bg-light navbar-dark text-dark">
		<div class="container">
			<div class="col-4">
				<a class="nav-link text-dark" th:href="@{/}">
					<h3>Student Registration</h3>
				</a>
			</div>
			<div sec:authorize="isAuthenticated()" class="col-6">
				<p>
					User Role: 
					<span th:text="${#authentication.getAuthorities()}"></span>
				</p>
				<p>
					Current Date : <span th:text="${loginDate}"></span>
				</p>
			</div>
			<div class="col-2" sec:authorize="isAuthenticated()">

				<a th:href="@{/profile}" class="text-dark nav-link">
				
				<span th:text="${#authentication.getName()}"></span>
				<i class="bi bi-person"></i>
				</a>
			</div>
		</div>
	</nav>
</body>
</html>