<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidenav" class="sidenav">
        
        <button class="dropdown-btn" > Class Management <i class="fa fa-caret-down"></i></button>
        
            <div class="dropdown-container">
          <a th:href="@{/addCourse}">Course Registration </a>
          <a th:href="@{/registerStudent}">Student Registration </a>
          <a th:href="@{/findAllStudent}">Student Search </a>
        </div>
        <a th:href="@{/findAllUser}">Users Management</a>
      </div>
</body>
</html>