<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">

    <div th:if="${success}" class="alert alert-success" role="alert">
        <span>Course is successfully added.</span>
    </div>
    <div class="main_contents">
        <div id="sub_content">
            <form th:object="${course}" th:action="@{/addCourse}" method="post">
                <h2 class="col-md-6 offset-md-2 mb-5 mt-4 text-dark">Course Registration</h2>
                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <label for="name" class="col-md-2 col-form-label text-dark">Name</label>
                    <div class="col-md-4">
                        <input type="text" id="name"
                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                               th:field="*{name}">
                        <small class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4"></div>

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-secondary col-md-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Add
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="exampleModalLabel">Course
                                            Registration</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 style="color: rgb(127, 209, 131);">Registered Succesfully !</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success col-md-2" data-bs-dismiss="modal">
                                            Ok
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>

