<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<main role="main">

		<div class="main_contents">
			<div id="sub_content">
			
			<div th:if="${successCourse}" class="alert alert-success">
			
			<p class="text-center"><span th:text="${successCourse}"></span> is successfully added!</p>
			
			</div>
			
				<form enctype="multipart/form-data" id="courseForm" th:object="${course}" th:action="@{/addCourse}"
					method="post">
					<h2 class="col-md-6 offset-md-2 mb-5 mt-4 text-dark">Course
						Registration</h2>

					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="name" class="col-md-2 col-form-label text-dark">Name</label>
						<div class="col-md-4">
							<input type="text" id="name" th:field="*{name}">
							
							<div th:if="${invalidName}" >
							<small class="text-danger" th:text="${invalidName}"></small>
							</div>
							
							<p class="text-danger" th:if="${duplicateCourse}">
								<span th:text="${duplicateCourse}"></span> is already exist.
							</p>
						</div>
					</div>

					<div class="row mb-4">

						<div class="col-md-2"></div>

						<label for="photo" class="col-md-2 text-dark col-form-label">Photo</label>

						<div class="col-md-4">
							<input type="file" th:field="*{photo}" class="form-control" onchange="checkPhotoExtension()"
								id="photo">
								<span id="extensionLabel"></span>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-4"></div>
						<div class="col-md-6">
							<input type="submit" value="Add" class="btn btn-secondary col-md-2" id="submitButton" />
							<!-- <button type="submit" class="btn btn-secondary col-md-2" onclick="validCourseForm(event)"
								data-bs-toggle="modal" data-bs-target="#exampleModal">Add
							</button> -->
							<!-- <div class="modal fade" id="exampleModal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title text-dark" id="exampleModalLabel">Course
												Registration</h5>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<h5 style="color: rgb(127, 209, 131);">Are you sure to
												add?</h5>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-success col-md-2"
												data-bs-dismiss="modal">Yes</button>

										</div>
									</div>
								</div>
							</div> -->

						</div>

					</div>
				</form>

			</div>
		</div>
	</main>
</body>
</html>
