<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">

    <div class="main_contents">
        <div id="sub_content">
            <form th:object="${course}" th:action="@{/addCourse}" method="post">
                <h2 class="col-md-6 offset-md-2 mb-5 mt-4 text-dark">Course Registration</h2>
                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <label for="name" class="col-md-2 col-form-label text-dark">Name</label>
                    <div class="col-md-4">
                        <input type="text" id="name"
                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                               th:field="*{name}">
                        <small class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4"></div>

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-secondary col-md-2">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>

