
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="test.css">
</head>
<body class="login-page-body">
	<div class="login-page">
		<div class="form">
			<div class="login">
				<div class="login-header">
					<h1>Welcome!</h1>
				</div>
				<p th:if="${loginError}">Invalid user id or password</p>
			</div>
			<form class="login-form" th:action="@{/login}" method="post">
				<input type="text" placeholder="User ID" name="username" /> 
				<input type="password" placeholder="Password" name="password" />
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</body>

</html>