<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="main_contents">
        <div id="sub_content">
            <div style="width: 1100px;">
                <div class="alert alert-success" th:if="${stuAdd}">
                    <p>
                        <span th:text="${studentId}"></span> is successfully added
                    </p>
                </div>
                <div class="alert alert-success" th:if="${exportExcel}">
                    <p>
                        Successfully exported to excel!
                    </p>
                </div>
                <div class="alert alert-success" th:if="${stuUpdate}">
                    <p>
                        <span th:text="${studentId}"></span> is successfully updated
                    </p>
                </div>
                <div class="alert alert-danger" th:if="${stuDelete}">
                    <p>
                        <span th:text="${studentId}"></span> is successfully deleted
                    </p>
                </div>
            </div>
            <div class="table" style="width: 1100px">
                <table class="table table-striped" id="studentTable">
                    <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Course Name</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                </table>

                <div class="col-auto">

                    <a th:href="@{/exportStudentToExcel}" class="btn btn-secondary">Export To Excel</a>

                </div>
            </div>

        </div>
    </div>
</main>

</body>
</html>