<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="main_contents">
        <div id="sub_content">

            <div th:if="${success}" class="alert alert-success" role="alert">
                <p>
                    <span th:text="${success}"></span> is successfully registered
                </p>
            </div>
            
            <div class="alert alert-success" th:if="${exportExcel}">
                <p>Successfully exported to excel!</p>
            </div>
            
            <div th:if="${updateSuccess}" class="alert alert-success" role="alert">
                <p>
                    <span th:text="${updateSuccess}"></span> is successfully updated
                </p>
            </div>
            
            <div th:if="${deleteUser}" class="alert alert-danger" role="alert">
                <p>
                    <span th:text="${deleteUser}"></span> is successfully deleted
                </p>
            </div>

            <div class="table" style="width: 1100px">
            
                <table class="table table-striped" id="userTable">
                    <thead>
                    <tr>

                        <th scope="col">User ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Details</th>

                    </tr>
                    </thead>
                </table>

                <div class="row">
                
                    <div class="col-auto">
                        <a th:href="@{/registerUser}" class="btn text-dark btn-secondary">Add</a>
                    </div>
                    
                    <div class="col-auto">
                        <a th:href="@{/exportUserToExcel}"
                           class="btn text-dark btn-secondary">Export To Excel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>