<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<main role="main">
		<div class="main_contents text-dark">
			<div id="sub_content">
				<form th:object="${user}" th:action="@{/registerUser}" method="post">

					<h2 class="col-md-6 offset-md-2 mb-5 mt-4">User Registration</h2>
					<div th:if="${usernameIsNull}"
						class="alert alert-danger text-center" role="alert">
						<span>Username is empty</span>
					</div>
					<div th:if="${passwordIsNull}"
						class="alert alert-danger text-center" role="alert">
						<span>Password is empty</span>
					</div>
					<div th:if="${passwordNotMatch}"
						class="alert alert-danger text-center" role="alert">
						<span>Password and confirm password aren't match</span>
					</div>
					<div th:if="${emailIsNull}" class="alert alert-danger text-center"
						role="alert">
						<span>Email is empty</span>
					</div>
					<div th:if="${emailDuplicate}"
						class="alert alert-danger text-center" role="alert">
						<span>Email is taken</span>
					</div>
					<div th:if="${emailPatternInvalid}"
						class="alert alert-danger text-center" role="alert">
						<span>Invalid email</span>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="username" class="col-md-2 col-form-label">Name</label>
						<div class="col-md-4">
							<input type="text" id="username" class="form-control"
								placeholder="name"
								th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
								th:field="*{username}">
								 <small class="invalid-feedback"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
							<!-- <input type="text" id="username" class="form-control"
								th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
								<small class="invalid-feedback"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small> -->
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="email" class="col-md-2 col-form-label">Email</label>
						<div class="col-md-4">
							<input type="text" id="email" class="form-control"
								th:field="*{email}">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="password" class="col-md-2 col-form-label">Password</label>
						<div class="col-md-4">
							<input type="password" id="password" class="form-control"
								th:field="*{password}">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="confirmPassword" class="col-md-2 col-form-label">Confirm
							Password</label>
						<div class="col-md-4">
							<input type="password" id="confirmPassword" class="form-control"
								th:field="*{confirmPassword}">
						</div>
					</div>
					
					<div class="row mb-4">
					
						<div class="col-md-2"></div>
						
						<label for="userRole"  class="col-md-2 col-form-label"> User Role </label>
						<div class="col-md-4">
							<select id="userRole" class="js-states form-control" 
								multiple="multiple" th:field="*{roles}" style="width : 100%;">
								<optgroup class="text-dark">
									<option th:each="r :${role}" th:value="${r.id}"
										th:text="${r.name}" style=" color : black !important"></option>
								</optgroup>
							</select>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-4"></div>

						<div class="col-md-6">

							<button type="submit" class="btn btn-secondary col-md-2">Add</button>
							</div>
						</div>
				</form>
			</div>
		</div>
	</main>
</body>
</html>